body {
  font-family: 'Inter', sans-serif;
}

@media (min-width: 320px) {
  body {
    max-width: 450px;
    margin: auto;
  }
  .background {
    background-image: url("/images/header-illsutration-mobile.svg");
    background-size: cover;
    max-width: 100vw;
    margin: 0 auto;
  }

  .header {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #172b4d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 12px;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin-bottom: 20px;
  }

  a {
    text-decoration: none;
    color: #172b4d;
  }

  .hamburger {
    margin-right: 24px;
    cursor: pointer;
    padding: 0;
  }

  .hamburger span {
    display: block;
    height: 3px;
    width: 30px;
    background: #172b4d;
    margin-bottom: 5px;
    position: relative;
    transition:
      transform 0.3s ease-in-out,
      top 0.3s ease-in-out,
      opacity 0.3s ease-in-out;
  }

  .trigger {
    display: none;
  }

  .trigger:checked ~ .hamburger span:first-child {
    transform: rotate(45deg);
    top: 8px;
  }

  .trigger:checked ~ .hamburger span:last-child {
    transform: rotate(-45deg);
    top: -8px;
  }

  .trigger:checked ~ .hamburger span:nth-child(2) {
    opacity: 0;
  }

  .navi {
    background: white;
    width: 100vw;
    height: 90vh;
    border-radius: 0 0 50px 50px;
    padding: 20px 28px;
    margin-top: 10px;
    position: absolute;
    left: -100vw;
    box-sizing: border-box;
    transition: left 0.3s ease-in-out;
  }

  .trigger:checked ~ .navi {
    left: 0;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
  }

  h1 {
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 65px;
    text-align: center;
    color: #172b4d;
    margin-bottom: 50px;
  }

  .h1-highlight {
    color: #36b37e;
  }

  p {
    text-align: center;
    max-width: 320px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #172b4d;
    margin-bottom: 110px;
  }

  .social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding-bottom: 20px;
    margin-bottom: 50px;
  }

  h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    text-align: center;
    color: #172B4D;
  }
  .container-works {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-bottom: 50px;
  }
  hr {
      margin-left: auto;
      margin-right: auto;
      width: 48px;
      height: 4px;
      background: #36B37E;
      border-radius: 24px;
  }
  .projectlist {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1;
  }
  .project1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #EBF0EE;
    border: 1px solid #D0D9D4;
    border-radius: 8px;
  } 
  .projectimage {
    max-width: 320px;
  }
  .projectdetail {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    border-radius: 8px;
    padding: 12px;
  }
  .projectname{
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #3A4A42;
    
  }
  .skills{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-bottom: 20px;
    margin-top: 20px;

  }
  .skills li {
    background: #EBF0EE;
    border-radius: 4px;
    padding: 8px 12px;
    letter-spacing: 0.03em;
    gap: 8px  
  }
  button {
    padding: 12px;
    gap: 10px;
    background: #36B37F;
    border-radius: 4px;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    color: #FFFFFF;
    border: none;
    margin-bottom: 24px;
  }
  button:hover {
    background: #36B37F;
    box-shadow: 0px 8px 16px rgba(54, 179, 127, 0.24);
    border-radius: 4px;
  }
  button:active {
    background: #008552;;
    border-radius: 4px;
  }
  .container-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-bottom: 10px;
  }
  .container-about h2 {
    margin-bottom: 0px;
  }
  .container-about p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #42526E;
    margin-bottom: 15px;
  }
  .aboutimage {
    display: flexbox;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .projectlist.about {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1;
  }
  .project1.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #EBF0EE;
    border: 1px solid #D0D9D4;
    border-radius: 8px;
    
  } 
  .projectdetail.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #EBF0EE;
    border-radius: 8px;

  }
  .projectimage.about {
    margin-top: 50px;
  }
  .projectname.about {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    color: #3A4A42;
    
  }
  .skills.about {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-bottom: 20px;
    margin-top: 20px;
    box-sizing: border-box;

  }
  .skills.about li {
    background: #fff;
    border-radius: 4px;
    padding: 8px 12px;
    letter-spacing: 0.03em;
    gap: 8px;
    color:#36B37E; 
  }

}
